@page
@model Attendance50.Pages.FilterModel
@{
}

<h2>@Model.FilterName filter</h2>

<form method="post" asp-page="Filter">

    <input type="text" name="filterValue" placeholder="filter" style="width: 280px" value="@Model.FilterValue" />
    <button type="submit" class="btn btn-default" name="command" value="Filter">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM3.5 5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zM5 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z" />
        </svg>
    </button>
    <button type="submit" class="btn btn-default" name="command" value="Clear" title="Remove Filter">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path fill-rule="evenodd" d="M7 11.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z" />
            <path fill-rule="evenodd" d="M14.646 15.354l-14-14 .708-.708 14 14-.707.707z" />
        </svg>
    </button>
    <a href="https://regex101.com/" style="margin-left: 15px"><small>Regex Guide</small></a>

</form>
