@page
@model Attendance.Pages.NewStudentsModel
@{
}
<form asp-page="NewStudents">
    
    <textarea asp-for="StudentList" cols="80" placeholder="имя\tфамилия\tгруппа"></textarea>
    <div>
        <span asp-validation-for="StudentList" style="white-space: pre"></span>
    </div>
    <button >Add</button>
</form>
