@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">

    <form id="form1" asp-page="Index" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input asp-for="UploadedFile" accept="text/html" lang="en" />
            <span asp-validation-for="UploadedFile" class="text-danger"></span>

            <input type="submit" id="submitCheck" value="Check" style="visibility: hidden" />
        </div>

        <div class="form-group">
            <div class="form-group">
                <div>
                    <select size="5" name="flowIds" id="flowIds" class="form-control" asp-items="Model.FlowSelectList"></select>
                    <span asp-validation-for="FlowSelectList" class="text-danger"></span>
                </div>
            </div>

        </div>
    </form>

    <hr />
    @if (Model.GroupedStudents != null && Model.GroupedStudents.Count() > 0)
    {

        <form asp-page="Index" asp-page-handler="Save" method="post">
            <input asp-for="MeetComment" placeholder="your comment if needed" style="width: 50%" />
            <input type="submit" value="Save" title="Сохранить в базе данных" />
        </form>

        <table>
            @foreach (var group in Model.GroupedStudents)
            {
                <tr>
                    <td style="font-weight:800">@group.Key (@group.Count(x => x.IsPresent) из @group.Count() )</td>
                </tr>
                @foreach (var stud in group)
                {
                    var color = stud.IsPresent ? "black" : "red";
                    <tr>
                        <td style="text-align:left; color:@color">@stud.Nick</td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <h3>Инструкция</h3>
<pre>
На странице встречи (Google Meet) выбрать вкладку "Участники" (должны показаться имена участников).
Сохранить встречу как "Webpage, Complete".
Сохраненный html-файл загрузить перетаскиванием или кнопкой "Choose File".

Перед выбором файла в списке потоков можно выбрать поток, для которого проводится проверка.
Если поток не выбран, он будет определен автоматически.

Отчет можно открыть со страницы Flows по ссылке Report.
</pre>
    }
</div>

@section Scripts {
    <script>
        const fileField = document.querySelector("#UploadedFile");

        fileField.addEventListener("change", function () {
            document.querySelector("#submitCheck").click();
        });
    </script>
}