@page
@model Attendance50.Pages.Flows.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flow</h4>
<hr />

<a asp-page="..\Shared\Filter" asp-route-returnUrl="/Flows/Create"
   asp-route-filterName="@CreateModel.GROUPS_FILTER_NAME" style="margin-left: 40px" title="Filter">
    Group Filter
    <span class="badge-warning" title="Lecture Name Filter">@Model.FilterValue</span>
</a>

<div class="row">
    <div class="col-md-10">
        <form method="post">

            <div class="form-group">
                <label asp-for="Flow.Name" class="control-label"></label>
                <input asp-for="Flow.Name" class="form-control" />
                <span asp-validation-for="Flow.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div>
                    <select size="25" asp-for="StudentIds" class="form-control" asp-items="Model.StudentIds"></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
